<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="JobServer3Camadas" value="false" />
    <add key="Port" value="2205" />
    <add key="Host" value="BHN050102974" />
    <add key="ActionsPath" value="C:\RM\Legado\12.1.2205\Bin;C:\RM\Legado\12.1.2205\Corpore.Net\Bin" />
    <add key="LibPath" value="C:\RM\Legado\12.1.2205\Bin" />
    <add key="EnableDynamicLocalization" value="false" />
    <add key="EnableCompression" value="false" />
    <add key="LocalizationLanguage" value="pt-BR" />
	<add key="DefaultDB" value="CorporeRM" />
	<add key="rmsaude_EnableDotNetRoutinesAttendanceRegister" value="true"/>
	<add key="rmsaude_EnableDotNetRoutinesElaboraConta" value="true" />
	<add key="rmsaude_EnableDotNetRoutinesPedidoExames" value="true" />
	<add key="rmsaude_EnableDotNetRoutinesAlta" value="true" />
	<add key="rmsaude_HabilitarMenuFarmaciaClinica" value="true" />
	<add key="DBMONITORENABLED" value="True" />
	<add key="rmpep_EnableNewMenus" value="true" />
  </appSettings>
  <runtime>
    <generatePublisherEvidence enabled="false" />
    <loadFromRemoteSources enabled="false" />
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
